# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# from Android Studio
/build
/src/main/libs
/src/main/obj

/android-nkd/libs
/android-nkd/obj


# QtCreator files
*.pro.user
